$light-bg: #ffffff;
$light-text: #000000;

$dark-bg: #333333;
$dark-text: #ffffff;

// Variables compartidas
$primary-color: #6d5fe9;
$border-radius: 5px;



// styles for Gus
// Botones
$ColorBotones: #5b4be7;
$ColorLettersBotones: #fcfcff;
$colorCajas: rgb(255, 255, 255);
$FontCard: rgb(224, 224, 188);


// Theme dark
$FontDark: rgb(13, 22, 141);
$NavbarDark: rgb(8, 12, 59);
$lettersTitleDark: rgba(230, 216, 216, 0.959);


// Teme light
$FondoLigth: rgba(194, 241, 163, 0.986);
$NavbarLigth: rgba(164, 214, 130, 0.986);
$lettersTitleLigth: rgba(59, 33, 173, 0.959);

// Font plants
$GrisMedio: rgba(233, 227, 227, 0.58);