@use 'variables' as var;


.container-file {
    width: 90%;
    margin: auto;
    background-color: var.$GrisMedio;
    padding: 10px;
}

.hoja {
    width: 95%;
    margin: auto;
    background-color: var.$colorCajas;

    .title {
        text-align: center;
        padding: 2% 0;
        width: 100%;
        font-size: 2rem;
        color: var.$FontDark;
        background-color: var.$colorCajas;
        margin-bottom: 0;
        position: sticky;
        top: 8vh;
        z-index: 1;
    }

    .container-image {
        max-width: 100%;
        height: 500px;
        padding: 9px;
        display: flex;
        justify-content: center;
        align-items: center;

        .image-detail {
            max-width: 100%;
            height: 98%;
            margin-bottom: 10px;
            border: 2px solid blueviolet;
        }
    }

    .description{
        padding: 30px;
        font-size: 1.2rem;
        color: var.$FontDark;
        background-color: var.$colorCajas;
        border-radius: 10px;
    }
}


@media (880px <= width <= 1366px) {
    .hoja {
    
        .title {
            padding: 1.5% 0;
        }
    
        .container-image {
            max-width: 100%;
            height: 350px;
        }

    }
    
}