@use 'variables' as var;


.container-file{
    background-color: var.$GrisMedio;
}
.hoja {
    width: 100%;
    // background-color: var.$GrisMedio;
}

.image-detail {
    max-width: 90%;
    height: 500px;
    margin-bottom: 10px;
}