@use './variables' as var;

.comunes {
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 7vh;
  padding: 0 25px ;
  position: sticky;
  top: 0;

  & a {
    color: var(--text-color);
    text-decoration: none;
    margin-right: 15px;
    font-size: 1.4rem;
    font-weight: 600;

    &:hover {
      color: var.$primary-color;
    }
  }
}

// mode dark
.dark-theme {
  background-color: var.$NavbarDark;
  color: var.$lettersTitleDark;

  & a {
    color: var(--text-color);
  }

  & a.active {
    color: hwb(14 8% 33%);
  }

}

// mode ligth
.ligth-theme {
  background-color: var.$NavbarLigth;
  color: var.$lettersTitleLigth;

  & a.active {
    color: rgb(85, 35, 12);
  }
}

.routes {
  width: 30%;
}

.search {
  width: 40%;
  text-align: center;

  .buscar {
    width: 80% !important;
    padding: 3px;
    border-radius: var.$border-radius;
    border: 1px solid var.$primary-color;
    margin-right: 5px;
    padding: 5px 0;
  }
}

.theme {
  width: 30%;
  text-align: right;
}

button {
  padding: 5px 25px;
  border-radius: var.$border-radius;
  border: none;
  background-color: var.$primary-color;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: var.$primary-color;
  }
}

@media (860px <=width <=1366px) {
  .comunes {
    min-height: 8vh;

    & a {
      font-size: 1rem;
      font-weight: 700;
    }
  }
}