@use './Styles/_variables.scss' as var;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}

// borra scroll 
body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// tema oscuro
.dark {
  background-color: var.$FontDark;
}

// tema claro
.ligth {
  background-color: var.$FondoLigth;
}

.layout {
  position: sticky;
  top: 0;
  z-index: 1;
}

.body-page {
  min-height: 90vh;
}

.footer-ligth {
  position: sticky;
  bottom: 0;
  height: 5vh;
  background-color: var.$NavbarLigth;
  color: var.$lettersTitleLigth;
}

.footer-dark {
  position: sticky;
  bottom: 0;
  height: 5vh;
  background-color: var.$NavbarDark;
  color: var.$lettersTitleDark;
}